<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal-content">
    <h3>Selecciona ítems</h3>
    <div class="items-list">
      <div *ngFor="let item of allItems" class="item-option">
        <label>
          <input type="checkbox"
                 [checked]="selectedItems.includes(item.id)"
                 (change)="toggleItem(item.id)">
          <img [src]="item.imageUrl" [alt]="item.name" width="32" height="32">
          {{ item.name }}
        </label>
      </div>
    </div>
    <button (click)="closeModal()">Aceptar</button>
  </div>
</div>